.header {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  padding: 20px;
  border-radius: 100px;
  margin: 20px 0 20px 0;
}
.navList {
  display: flex;
  gap: 20px;
}
.link {
  border-radius: 30px;
  padding: 10px;
  width: 80px;
  background-color: whitesmoke;
  color: darkblue;
  text-align: center;
}
.active {
  background-color: rgb(169, 238, 247);
  border: 1px solid greenyellow;
  border-color: greenyellow;
  transition: all 0.7s;
  color: black;
}
